# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment
.env

# IDE
.vscode/
.idea/

# Uploads
uploads/*
tests/*

# Uploads
uploads/

# Tests
tests/

# Logs
*.log

# Database
*.db

# Cache
.pytest_cache/